@model RZAWeb.Models.BookHotelRooms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookHotelRooms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoubleRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoubleRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
